.exclusiveContent__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

.exclusiveContent .exclusiveContent__title {
    display: none;
}

.exclusiveContent__content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exclusiveContent__content .content h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.exclusiveContent__content .content .book-icon,
.exclusiveContent__content .content .pointer-icon,
.exclusiveContent__content .content .tests-icon,
.exclusiveContent__content .content .tasks-icon {
    width: 32px;
    height: 32px;

    background-position: center;
    background-size: cover;

    margin-bottom: .3rem;
}

.exclusiveContent__content .content .book-icon {
    background-image:  url('../../../public/images/book.svg');    
}
.exclusiveContent__content .content .pointer-icon {
    background-image:  url('../../../public/images/360.svg');    
}
.exclusiveContent__content .content .tests-icon {
    background-image:  url('../../../public/images/tests.svg');    
}
.exclusiveContent__content .content .tasks-icon {
    background-image:  url('../../../public/images/tasks.svg');    
}

 .button-align button {
    background: #C5AF19;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;

    width: 100%;
   
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 1rem;
    margin: 1rem 0;

    box-sizing: border-box;
}

@media screen and (min-width: 1023px) {
    
    .exclusiveContent {
        position: absolute;
        top: 1096px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 705px;
        height: 151px;

        margin-top: 4rem;
    }

    .exclusiveContent .content {
        margin-bottom: 2rem;
    }
            
    .exclusiveContent .exclusiveContent__title{
        display: block;
        color: #D8D7CE;
        margin: 2rem 0;
    }

    .exclusiveContent__content .content .book-icon,
    .exclusiveContent__content .content .pointer-icon,
    .exclusiveContent__content .content .tests-icon,
    .exclusiveContent__content .content .tasks-icon {
        width: 73px;
        height: 73px;
    }

    .button-align{
        width: 60%;
    }
}