.Navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.Navbar_menu {
    position: absolute;
    right: 0;
    right: 3%;
    height: 2.7rem;
}

.sidebar {
    background-color: #ffffff;
    position: absolute;
    width: 80%;
    height: 520px;
    right: 0;
    top: 3rem;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: transform 0.25s ease-in-out, opacity 0.20s ease-in-out;
}

.sidebar ul {
    margin: 0;
}

.sidebar .sidebar__contact {
    background-color: red;
}

.hide {
    opacity: 0;
    transform: translateX(50%);
}

