.Navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.Navbar__container h3{
    display: none;
    position: relative;
}


.Navbar__menu {
    position: absolute;
    top: .5rem;
    right: 3%;
    
    height: 2.5rem;
    width: 2.5rem;

    margin-right: .6rem;

    background-image: url('../../../public/images/bx-menu.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


@media screen and (min-width:1023px) {
    .Navbar {
        padding: 1rem 10%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .Navbar__logo {
        margin-left: 50%;
    }

    .Navbar__menu {
        position: relative;
        background-image: url('../../../public/images/chevron-down.png');
        margin-left: 2rem;
        cursor: pointer;
    }
    .Navbar__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
       
    }

    .Navbar__container h3 {
        display: inline-block;
        margin-right: 1.5rem;
    }

}