.banner {
    position: relative;
    box-sizing: border-box;
}

.banner .banner__image {
    position: relative;
    height: 308px;
    width: 100%;


    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 26.74%), 
    url('../../../public/images/Hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-bottom: 5rem;
}

.banner .banner__image h1 {
    position: absolute;
    height: 28.91px;
    left: 0px;
    right: 0px;
    top: 298px;
    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
}
.banner .banner__image h2 {
    position: absolute;
    height: 18.94px;
    left: 51px;
    right: 51px;
    top: 330.06px;

    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #666666;
}

.banner .button-align button {
    background: #C5AF19;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;

    width: 100%;
   
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 1rem;
    margin-bottom: 1rem;

    box-sizing: border-box;
}

.button-align {
    padding: 0 10px;
}

.banner__icons {
    display: flex;
    justify-content: space-evenly;    
    width: 100%;
}

.banner__icons .icon-modules .book-icon, .banner__icons .icon-hours .film-icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    border: 2px solid #D8D7CE;
    border-radius: 50%;
    margin-bottom: 0.6rem;
}

.banner__icons .icon-modules .book-icon {
    background-image: url(../../../public/images/book-open.svg);
}

.banner__icons .icon-hours .film-icon{
    background-image: url(../../../public/images/film.svg);
}

.banner__icons .icon-modules, .banner__icons .icon-hours, .banner .mobile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .mobile-info {
    margin-top: 2rem;
    width: 100%;
}

.banner .mobile-info h3 {
    width: 235px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;

    margin-bottom: 2rem;
}

.banner .mobile-info .button-align {
    width: 100%;
}

.banner .mobile-info .button-align button {
    background-color: transparent;
    border: 2px solid #D8D7CE;
}



@media screen and (min-width: 1023px) {
    .banner .banner__image {
        position: absolute;
        width: 1136px;
        height: 480px;
        left: calc(50% - 1136px/2);
        top: 0;

        background: 
        radial-gradient(48.06% 82.5% at 51.94% 45%, 
        rgba(0, 0, 0, 0) 46.8%, #000000 100%), 
        linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 26.74%), 
        url('../../../public/images/Hero-desktop.png');
        
    }

    .banner__grid {
        position: absolute;
        top: 500px;
        display: grid;
        grid-template-areas: 'banner-1 banner-2';
        justify-content: center;
        gap: 10rem;
        
        width: 100%;

        margin-bottom: 2rem;
    }

    .banner .button-align button {
        grid-area: banner-2;
        width: 368px;
    }
    
    .banner__icons {
        grid-area: banner-1;
        width: auto;
        gap: 12rem;
    }

    .banner__icons .icon-modules, .banner__icons .icon-hours {
        flex-direction: row;
        gap: 1.1rem;
    }

    .mobile-info button, .mobile-info h3 {
        display: none;
    }

    .banner__icons .icon-modules .book-icon, .banner__icons .icon-hours .film-icon {
        width: 50px;
        height: 50px;
    }

}