.banner {
    position: relative;
}

.banner .banner__image {
    height: 308px;
    width: 100%;


    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 26.74%), 
    url('../../../public/images/Hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1023px) {
    .banner .banner__image {
        position: absolute;
        width: 1136px;
        height: 480px;
        left: calc(50% - 1136px/2);
        top: 0;


        background: 
        radial-gradient(48.06% 82.5% at 51.94% 45%, 
        rgba(0, 0, 0, 0) 46.8%, #000000 100%), 
        linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 26.74%), 
        url('../../../public/images/Hero-desktop.png');
        
    }
}